#red{
    width: 100px;
	height: 100px;
	border-radius: 50%;
	border: none;
	margin: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: rgb(139, 21, 21);
	
}
#redOn{
    width: 100px;
	height: 100px;
	border-radius: 50%;
	border: none;
	margin: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: rgb(255, 0, 0);
}
#yellow{
    width: 100px;
	height: 100px;
	border-radius: 50%;
	border: none;
	margin: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: rgb(148, 172, 16);
}
#yellowOn{
    width: 100px;
	height: 100px;
	border-radius: 50%;
	border: none;
	margin: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: rgb(238, 255, 0);
}
#green{
    width: 100px;
	height: 100px;
	border-radius: 50%;
	border: none;
	margin: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: rgb(10, 117, 19);
}
#greenOn{
    width: 100px;
	height: 100px;
	border-radius: 50%;
	border: none;
	margin: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: rgb(0, 255, 21);
}

#father{
	width: 200px;
	height: 200px;
	background: black;
}
.father{
	width: 130px;
	margin: auto;
	background: black;
}
.post{
	background: yellow;
	width: 30px;
	height: 600px;
	margin: auto;
}
#purple{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: none;
	margin: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: rgb(153, 0, 255);
}

#buttonInPost{
	margin-right: 5px;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-color: rgb(153, 0, 255);

}

body{
	background-image: url("https://i.pinimg.com/originals/8c/41/eb/8c41ebaf114a8ffedb103435c1112476.jpg");
	background-size: 50% ;
}